<!DOCTYPE html>
<html>
  <head>
    <title>つぶやきの部屋</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>つぶやきの部屋</h1>
    </header>

    <div>
      <%= yield %>
    </div>

    <footer>
      <p>~自由につぶやきましょう~<br>※1~140文字以内※</p>
    </footer>
  </body>
</html>
